<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/v1/web/css" />
    <script src="https://cdn.jsdelivr.net/npm/@simplewebauthn/browser@8.0.2/dist/bundle/index.es5.umd.min.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [v-cloak] {
        display: none;
      }
    </style>

    <title>Login</title>
  </head>
  <body id="app">
    <!-- Alert -->
    <div
      v-cloak
      v-if="showError"
      role="alert"
      class="p-4 border-red-500 rounded border-s-4 bg-red-50"
    >
      <div class="flex items-center gap-2 text-red-800">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
            clip-rule="evenodd"
          />
        </svg>

        <strong class="block font-medium"> Something went wrong </strong>
      </div>

      <p class="mt-2 text-sm text-red-700">{{ errorDetail }}</p>
    </div>
    <!-- Form -->
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="max-w-lg mx-auto">
        <form
          @submit.prevent
          action=""
          class="p-4 mt-6 mb-0 rounded-lg shadow-lg sm:p-6 lg:p-8"
        >
          <div class="flex flex-row text-xl font-semibold text-gray-700">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                />
              </svg>
            </span>
            Register
          </div>

          <p class="my-4 text-lg font-medium mx-4text-left">
            Create an account
          </p>

          <div class="my-4">
            <label for="name" class="sr-only">Email</label>
            <div class="relative">
              <input
                type="text"
                class="w-full p-4 text-sm border-gray-200 rounded-lg shadow-sm pe-12"
                v-model="name"
                placeholder="Enter name"
              />
            </div>
          </div>

          <div class="my-4">
            <label for="email" class="sr-only">Email</label>

            <div class="relative">
              <input
                type="email"
                class="w-full p-4 text-sm border-gray-200 rounded-lg shadow-sm pe-12"
                type="email"
                v-model="email"
                placeholder="Enter email"
              />

              <span
                class="absolute inset-y-0 grid px-4 end-0 place-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                  />
                </svg>
              </span>
            </div>
          </div>

          <div class="my-4">
            <label for="password" class="sr-only">Password</label>

            <div class="relative">
              <input
                type="password"
                class="w-full p-4 text-sm border-gray-200 rounded-lg shadow-sm pe-12"
                v-model="password"
                placeholder="Enter password"
              />

              <span
                class="absolute inset-y-0 grid px-4 end-0 place-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
          </div>

          <div class="my-4">
            <label for="password" class="sr-only">Password</label>

            <div class="relative">
              <input
                class="w-full p-4 text-sm border-gray-200 rounded-lg shadow-sm pe-12"
                type="password"
                v-model="confirmPassword"
                placeholder="Confirm password"
              />
              <span
                class="absolute inset-y-0 grid px-4 end-0 place-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
          </div>

          <button
            type=""
            class="block w-full px-5 py-3 mt-4 text-sm font-medium text-white bg-gray-800 rounded-lg"
            @click="submit"
            @keyup.enter="submit"
          >
            <span class="absolute flex items-center">
              <svg
                class="w-5 h-5 text-white group-hover:text-indigo-400"
                x-description="Heroicon name: mini/lock-closed"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </span>
            Register
          </button>

          <div class="relative flex items-center py-2 my-2">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-gray-700">Or</span>
            <div class="flex-grow border-t border-gray-400"></div>
          </div>

          <button
            type=""
            class="block w-full px-5 py-3 mb-4 text-sm font-medium text-white bg-gray-800 rounded-lg"
            @click="passkeySubmit"
          >
            <span class="absolute flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                />
              </svg>
            </span>
            Passkey
          </button>

          <p class="my-4 text-sm text-center text-gray-500">
            <a class="underline" href="/v1/web/login"
              >Have an account? Login.</a
            >
          </p>
        </form>
      </div>
    </div>
    <!-- Scripts -->
    <script type="module">
      import {
        createApp,
        ref,
        computed,
      } from "https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.esm-browser.prod.js";

      const { startRegistration } = SimpleWebAuthnBrowser;
      createApp({
        setup() {
          const name = ref("");
          const email = ref("");
          const password = ref("");
          const confirmPassword = ref("");

          const showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const submit = async () => {
            try {
              if (password.value !== confirmPassword.value) {
                showError.value = true;
                errorTitle.value = "Validation Error";
                errorDetail.value = "Passwords do not match, please try again";

                return;
              }

              let response = await fetch("/v1/auth/register", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({
                  data: {
                    type: "users",
                    attributes: {
                      name: name.value,
                      email: email.value,
                      password: password.value,
                    },
                  },
                }),
                headers: {
                  "content-type": "application/json",
                },
              });
              const appOrigin =
                await response.headers.get("x-authc-app-origin");
              const resbody = await response.json();

              if (response.ok) {
                window.localStorage.setItem(
                  "ACCESS_TOKEN",
                  resbody.data.attributes.access_token
                );
                showError.value = false;

                showError.value = false;

                window.location.href = appOrigin;
              } else {
                showError.value = true;

                errorTitle.value = "Error";
                errorDetail.value =
                  "Error occured, please try registering again";
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue connecting, please try again";
            }
          };

          const passkeySubmit = async () => {
            try {
              let optionsResponse = await fetch(
                "/v1/auth/registration-options",
                {
                  method: "GET",
                  headers: {
                    "content-type": "application/json",
                  },
                }
              );

              if (optionsResponse.ok) {
                const opts = await optionsResponse.json();

                let attResp = await startRegistration(opts);

                let verificationResponse = await fetch(
                  "/v1/auth/registration-verification",
                  {
                    method: "POST",
                    body: JSON.stringify(attResp),
                    headers: {
                      "content-type": "application/json",
                      "x-authc-app-userid": opts.user.id,
                    },
                  }
                );
                const reply = await verificationResponse.json();
                const appOrigin =
                  await verificationResponse.headers.get("x-authc-app-origin");

                window.localStorage.setItem(
                  "ACCESS_TOKEN",
                  reply.data.attributes.access_token
                );
                showError.value = false;
                showError.value = false;
                window.location.href = appOrigin;
              } else {
                showError.value = true;

                errorTitle.value = "Error";
                errorDetail.value =
                  "Error occured, please try registering again";
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue connecting, please try again";
            }
          };
          // expose to template
          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            passkeySubmit,
            name,
            email,
            password,
            confirmPassword,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
