.DS_Store

.git
.gitignore

.settings
.classpath
.project
.cache*
.metadata
.worksheet
RemoteSystemsTempFiles/
Servers/

.gradle
bin/
build/
/*/build/
# dist/

*.log
*.log*
*~*
*.bak
*.tmp
*.temp
Thumbs.db

_oldp
/dist
# /*.min.js*

/.vscode

out/
tmp/
temp/
/target/
/target-eclipse/

#.env
.envrc
local.properties
*.db

# *.class

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.nyc_output
/coverage

.dockerignore
Dockerfile
Dockerfile*.*
Jenkinsfile
Jenkinsfile*.*
/jenkins