version: '3'

services:
  authcompanion:
    build: .
    container_name: authcompanion
    environment:
      - DB_PATH=./authdata/authcompanion_users.db
      - ADMIN_KEY_PATH=./authdata/adminkey
      - KEY_PATH=./authdata/serverkey
    ports: 
    - "3002:3002"
    volumes:
      - authdata:/home/nodejs/app/authdata


volumes:
  authdata: