######################## NOTE #########################
#*       This file describes the AUTHC settings      *#
#*      Copy this file to a new file called .env     *#
#######################################################

################## General Settings ###################
## Server port that AUTHC will listen on.
PORT=3002

## Your server name.
## The URL at which registrations and authentications
## should occur (required for passkeys).
ORIGIN=http://localhost:3002

## After a successful login or register profile update, 
## redirect the user to your main application UI using 
## the supplied URL below.
APPLICATION_ORIGIN=http://localhost:3002/v1/web/home

#------------------- DB Settings ---------------------#
## DB URI or path to SQLite file.
DB_PATH=./users_authc.db

#------------------- JWT Secrets ----------------------#
## Path to the JSON Web Key format key used to sign
## and verify JWTs.
SERVER_KEY_PATH=./serverkey

## Path to the JWT used to authenticate into the Admin
## API.
ADMIN_KEY_PATH=./adminkey

#------------------- Web Mode ---------------------#
## Use AuthC in Web Mode which makes available UIs 
## for Login, Registration, Account Recovery, and Profile
## If false, only the AuthC server APIs are available
WEB_MODE=true

#------------------- Email Options --------------------#
## URL used in the recovery email to redirect user back 
## to the UI for updating their password
RECOVERY_REDIRECT_URL=http://localhost:3002/v1/web/profile

## SMTP settings for outbound mail generated by Authc
SMTP_HOSTNAME=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_ADDRESS=