######################## NOTE #########################
#*   This file describes the default AUTHC settings  *#
#*        Copy this file to a new file called .env   *#
#######################################################

################## General Settings ###################
## Port that AUTHC will listen on
PORT=3002

## Cross-Origin Resource Sharing (CORS) Settings
ORIGIN=http://localhost:3002

## A cookie with the Secure attribute is only sent to the server with an encrypted request over the HTTPS protocol.
## IMPORTANT: change to true before going into production
SECURE=false

## URL used in recovery email to redirect user back to UI for updating their password
## Must be the full URL path
RECOVERY_REDIRECT_URL=/v1/web/home

#------------------- DB Settings ---------------------#
## DB URI or path to SQLite file
DB_PATH=./authcompanion_users.db

#------------------- JWT Secrets -------------------ß--#
## Path to the key used to sign and verify JWTs used for access
KEY_PATH=./keyfile

#------------------- Web Mode ---------------------#
## Use AuthC in Web Mode which makes available UIs for Login, Registration,
## Account Recovery, and Profile
## If false, only the AuthC server APIs are available
WEB_MODE=true
## After a successful login, register profile update, redirect the user to your main
## application using the supplied URL below. Can be relative URL.
APPLICATION_ORIGIN=http://localhost:3002/v1/web/home

#------------------- SMTP Options --------------------#
## SMTP settings for outbound mail generated by Authc
SMTP_HOSTNAME=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_ADDRESS=