######################## NOTE #########################
#*       This file describes the AUTHC settings      *#
#*      Copy this file to a new file called .env     *#
#######################################################

################## General Settings ###################
# Server port that AUTHC will listen on.
PORT=3002

# Your server name.
# The URL at which registrations and logins
# should occur (required for passkeys).
ORIGIN=http://localhost:3002

# Redirects
# After a successful login or register profile update,
# redirect the user to your main application UI using
# the supplied URL below.
APPLICATION_ORIGIN=http://localhost:3002/home

# After successful new registration redirects the user
# to this URL. If not set uses APPLICATION_ORIGIN.
#REGISTRATION_ORIGIN=

# After a successful login or register profile update,
# redirect the user to your main application UI using
# the supplied URL below.
ADMIN_ORIGIN=http://localhost:3002/v1/admin/dashboard

# JWT Secrets
# Path to the JSON Web Key format key used to sign
# and verify JWTs.
SERVER_KEY_PATH=./serverkey

# Path to the password used to authenticate into the Admin
# API + credentials used for Admin UI login.
ADMIN_KEY_PATH=./adminkey

# Set the SameSite key for cookies, default to "none".
SAMESITE=None

# Email Options
# URL used in the recovery email to redirect user back
# to the UI for updating their password
RECOVERY_REDIRECT_URL=http://localhost:3002/profile

# SMTP settings for outbound mail generated by Authc
SMTP_HOSTNAME=
SMTP_PORT=2525
SMTP_USERNAME=
SMTP_PASSWORD=
FROM_ADDRESS=no_reply@example.com

# SQLite and PostgreSQL Configurations
SQLITE_ENABLED=true
POSTGRESQL_ENABLED=false
SQLITE_DB_PATH=./sqlite_authc_database.db
POSTGRESQL_CONNECTION_STRING=postgresql://admin@localhost:5432/users
