<!DOCTYPE html>
<html lang="en" un-cloak>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [un-cloak] {
        display: none;
      }
    </style>
    <!-- <script>
      // pass unocss options
      window.__unocss = {
        rules: [
          // custom rules...
        ],
        presets: [
          // custom presets...
        ],
        // ...
      } 
      </script>-->
    <title>Admin</title>
  </head>

  <body class="">
    <div id="app" class="">
      <div class="min-h-full">
        <nav class="bg-gray-800">
          <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    class="text-white w-9 h-9"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
                    />
                  </svg>
                </div>
                <div class="hidden md:block">
                  <div class="flex items-baseline ml-8 space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a
                      href="#"
                      class="px-3 py-2 text-base font-medium text-white rounded-md hover:text-gray-400"
                      aria-current="page"
                      >Dashboard</a
                    >
                  </div>
                </div>
              </div>
              <div class="hidden md:block">
                <div class="flex items-center ml-4 md:ml-6">
                  <button
                    type="button"
                    class="p-1 text-gray-400 bg-gray-800 rounded-full hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                  >
                    <span class="sr-only">View notifications</span>
                    <!-- Heroicon name: outline/bell -->
                    <svg
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                      />
                    </svg>
                  </button>

                  <!-- Profile dropdown -->
                  <div class="relative ml-3">
                    <div>
                      <button
                        type="button"
                        class="flex items-center max-w-xs text-sm text-white bg-gray-800 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                        id="user-menu-button"
                        aria-expanded="false"
                        aria-haspopup="true"
                        @click="showProfileMenu = !showProfileMenu"
                      >
                        <span class="sr-only">Open user menu</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          strokeWidth="{1.5}"
                          stroke="currentColor"
                          class="w-8 h-8"
                        >
                          <path
                            strokeLinecap="round"
                            strokeLinejoin="round"
                            d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                        </svg>
                      </button>
                    </div>

                    <Transition
                      un-cloak
                      enter-from-class="transform scale-95 opacity-0"
                      enter-active-class="transition duration-100 ease-out"
                      enter-to-class="transform scale-100 opacity-100"
                      leave-from-class="transform scale-100 opacity-100"
                      leave-active-class="transition duration-75 ease-in"
                      leave-to-class="transform scale-95 opacity-0"
                    >
                      <div
                        v-if="showProfileMenu"
                        class="absolute right-0 w-48 py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="user-menu-button"
                        tabindex="-1"
                      >
                        <a
                          href="#"
                          class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem"
                          tabindex="-1"
                          id="user-menu-item-0"
                          >Your Profile</a
                        >

                        <a
                          href="#"
                          class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem"
                          tabindex="-1"
                          id="user-menu-item-1"
                          >Settings</a
                        >

                        <a
                          href="#"
                          class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem"
                          tabindex="-1"
                          id="user-menu-item-2"
                          >Sign out</a
                        >
                      </div>
                    </Transition>
                  </div>
                </div>
              </div>
              <div class="flex -mr-2 md:hidden">
                <!-- Mobile menu button -->
                <button
                  type="button"
                  class="inline-flex items-center justify-center p-2 text-gray-400 bg-gray-800 rounded-md hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                  aria-controls="mobile-menu"
                  aria-expanded="false"
                >
                  <span class="sr-only">Open main menu</span>
                  <!--
                    Heroicon name: outline/menu
      
                    Menu open: "hidden", Menu closed: "block"
                  -->
                  <svg
                    class="block w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"
                    />
                  </svg>
                  <!--
                    Heroicon name: outline/x
      
                    Menu open: "block", Menu closed: "hidden"
                  -->
                  <svg
                    class="hidden w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="md:hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a
                href="#"
                class="block px-3 py-2 text-base font-medium text-white bg-gray-900 rounded-md"
                aria-current="page"
                >Dashboard</a
              >

              <a
                href="#"
                class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Team</a
              >

              <a
                href="#"
                class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Projects</a
              >

              <a
                href="#"
                class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Calendar</a
              >

              <a
                href="#"
                class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Reports</a
              >
            </div>
            <div class="pt-4 pb-3 border-t border-gray-700">
              <div class="flex items-center px-5">
                <div class="flex-shrink-0">
                  <img
                    class="w-10 h-10 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium text-white">Tom Cook</div>
                  <div class="text-sm font-medium text-gray-400">
                    tom@example.com
                  </div>
                </div>
                <button
                  type="button"
                  class="flex-shrink-0 p-1 ml-auto text-gray-400 bg-gray-800 rounded-full hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                >
                  <span class="sr-only">View notifications</span>
                  <!-- Heroicon name: outline/bell -->
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                    />
                  </svg>
                </button>
              </div>
              <div class="px-2 mt-3 space-y-1">
                <a
                  href="#"
                  class="block px-3 py-2 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700"
                  >Your Profile</a
                >

                <a
                  href="#"
                  class="block px-3 py-2 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700"
                  >Settings</a
                >

                <a
                  href="#"
                  class="block px-3 py-2 text-base font-medium text-gray-400 rounded-md hover:text-white hover:bg-gray-700"
                  >Sign out</a
                >
              </div>
            </div>
          </div>
        </nav>

        <header class="bg-white shadow-sm">
          <div class="px-4 py-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <h1 class="text-lg font-semibold leading-6 text-gray-900">
              User Administration
            </h1>
          </div>
        </header>
        <main>
          <div class="py-6 mx-auto max-w-fit sm:px-6 lg:px-8">
            <!-- Replace with your content -->

            <div class="flex flex-col">
              <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div
                  class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
                >
                  <div
                    class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
                  >
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            ID
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            Name
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            Email
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            Active
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            Created At
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            Updated At
                          </th>
                          <th
                            scope="col"
                            class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                          >
                            Action
                          </th>

                          <th scope="col" class="relative px-6 py-3">
                            <span class="sr-only">Edit</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(user, index) in users.data"
                          :class="index % 2 ? 'bg-gray-50' : 'bg-white'"
                        >
                          <td
                            class="px-6 py-4 text-sm font-medium text-gray-900 whitespace-nowrap"
                          >
                            {{ user.id }}
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                          >
                            {{ user.attributes.name }}
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                          >
                            {{ user.attributes.email }}
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                          >
                            <span
                              class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800"
                            >
                              {{ user.attributes.active }}
                            </span>
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                          >
                            {{ user.attributes.created }}
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 whitespace-nowrap"
                          >
                            {{ user.attributes.updated }}
                          </td>
                          <td
                            class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                          >
                            <a
                              href="#"
                              class="underline text-sky-800 hover:text-sky-900"
                              @click="modifyRecord(user)"
                              >Edit</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /End replace -->
          <!-- Start of Modify Entry Slide-in -->
          <Transition
            un-cloak
            enter-from-class="opacity-0"
            enter-active-class="duration-100 ease-in-out"
            enter-to-class="opacity-100"
            leave-from-class="opacity-100"
            leave-active-class="duration-200 ease-in-out"
            leave-to-class="opacity-0"
          >
            <div
              class="relative z-10"
              aria-labelledby="slide-over-title"
              role="dialog"
              aria-modal="true"
              v-if="showEditPanel"
            >
              <!-- Background backdrop, show/hide based on slide-over state. -->
              <div
                class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"
              ></div>
              <div class="fixed inset-0 overflow-hidden">
                <div class="absolute inset-0 overflow-hidden">
                  <div
                    class="fixed inset-y-0 right-0 flex max-w-full pl-10 pointer-events-none"
                  >
                    <div class="w-screen max-w-md pointer-events-auto">
                      <div
                        class="flex flex-col h-full bg-white divide-y divide-gray-200 shadow-xl"
                      >
                        <div
                          class="flex flex-col flex-1 min-h-0 py-6 overflow-y-scroll"
                        >
                          <div class="px-4 sm:px-6">
                            <div class="flex items-start justify-between">
                              <h2
                                class="text-lg font-medium text-gray-900"
                                id="slide-over-title"
                              >
                                Modify Account
                              </h2>
                              <div class="flex items-center ml-3 h-7">
                                <button
                                  @click="showEditPanel = !showEditPanel"
                                  type="button"
                                  class="text-gray-400 bg-white rounded-md hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-grey-500"
                                >
                                  <span class="sr-only">Close panel</span>
                                  <!-- Heroicon name: outline/x-mark -->
                                  <svg
                                    class="w-6 h-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M6 18L18 6M6 6l12 12"
                                    />
                                  </svg>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="relative flex-1 px-4 mt-6 sm:px-6">
                            <!-- Replace with your content -->
                            <div class="h-full" aria-hidden="true">
                              <form>
                                <!-- div containing the user's id -->
                                <div class="mt-3">
                                  <span class="font-medium text-gray-700"
                                    >ID</span
                                  >
                                  <input
                                    disabled
                                    type="text"
                                    class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none focus:bg-white"
                                    :value="selectedUser.id"
                                  />
                                </div>
                                <!-- div containing the user's name -->
                                <div class="mt-3">
                                  <span class="font-medium text-gray-700"
                                    >Name</span
                                  >
                                  <input
                                    type="text"
                                    class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                                    :value="selectedUser.attributes.name"
                                    @input="event => userRecord.data.attributes.name = event.target.value"
                                  />
                                </div>
                                <!-- div containing the user's email -->
                                <div class="mt-3">
                                  <span class="font-medium text-gray-700"
                                    >Email</span
                                  >
                                  <input
                                    type="email"
                                    class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                                    :value="selectedUser.attributes.email"
                                    @input="event => userRecord.data.attributes.email = event.target.value"
                                  />
                                </div>
                                <!-- div containing the user's active status -->
                                <div class="mt-3">
                                  <span class="font-medium text-gray-700"
                                    >Active</span
                                  >
                                  <input
                                    type="text"
                                    class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                                    :value="selectedUser.attributes.active"
                                    @input="event => userRecord.data.attributes.active = event.target.value"
                                  />
                                </div>
                                <!-- div containing the user's created date -->
                                <div class="mt-3">
                                  <span class="font-medium text-gray-700"
                                    >Created At</span
                                  >
                                  <input
                                    disabled
                                    type="text"
                                    class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none focus:bg-white"
                                    :value="selectedUser.attributes.created"
                                  />
                                </div>
                                <!-- div containing the user's updated at date -->
                                <div class="mt-3">
                                  <span class="font-medium text-gray-700"
                                    >Updated At</span
                                  >
                                  <input
                                    disabled
                                    type="text"
                                    class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none focus:bg-white"
                                    :value="selectedUser.attributes.updated"
                                  />
                                </div>
                              </form>
                            </div>
                            <!-- /End replace -->
                          </div>
                        </div>
                        <div class="flex justify-end flex-shrink-0 px-4 py-4">
                          <button
                            @click="showEditPanel = !showEditPanel"
                            type="button"
                            class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-grey-500 focus:ring-offset-2"
                          >
                            Cancel
                          </button>
                          <button
                            type="submit"
                            class="inline-flex justify-center px-4 py-2 ml-4 text-sm font-medium text-gray-700 border border-gray-300 rounded-md shadow-sm hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-grey-500 hover:text-white focus:ring-offset-2"
                            @click="updateUserRecord(selectedUser.id, userRecord)"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </Transition>
        </main>
      </div>
    </div>
    <!-- scripts -->
    <script type="module">
      import {
        createApp,
        ref,
      } from "https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.esm-browser.prod.js";

      createApp({
        setup() {
          //Toggle the edit panel and profile menu
          let showProfileMenu = ref(false);
          let showEditPanel = ref(false);

          // Array of users to be displayed in the table
          const users = ref([]);

          // User record to be edited
          let selectedUser = ref({});

          // User record to be sent to the API
          const userRecord = ref({
            data: {
              type: "users",
              attributes: {
                name: "",
                email: "",
                active: "",
              },
            },
          });

          // Function to open the edit panel and populate the form with the user data
          const modifyRecord = (user) => {
            // set the selected user to the user passed in the function
            selectedUser.value = user;

            // set the user record attributes to the user passed in the function
            userRecord.value.data.attributes.name = user.attributes.name;
            userRecord.value.data.attributes.email = user.attributes.email;
            userRecord.value.data.attributes.active = user.attributes.active;

            // toggle the edit panel
            showEditPanel.value = !showEditPanel.value;
          };

          // Fetch users from the API and store them in the users array
          const fetchUsers = async () => {
            try {
              let data = await fetch("http://localhost:3002/v1/admin/users", {
                method: "GET",
                headers: {
                  "Content-type": "application/json",
                  Authorization: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOjEsIm5hbWUiOiJBZG1pbiIsImVtYWlsIjoiYWRtaW5AbG9jYWxob3N0IiwiaWF0IjoxNjc3ODE0NTE1LCJleHAiOjE2Nzc4MTgxMTV9.vaLOM4D3eHZNC9y8BC5qkXtcYTt1DX7G0HMmk3M3Y7A`,
                },
              });

              if (!data.ok) {
                throw Error("Error occurs when loading data");
              }
              users.value = await data.json();
            } catch (e) {
              console.log("Failed to load data");
            }
          };
          // Call the fetchUsers function on page load
          fetchUsers();

          //Update the user record from the form data in the edit panel
          const updateUserRecord = async (userID, user) => {
            console.log(user);
            try {
              let data = await fetch(
                `http://localhost:3002/v1/admin/users/${userID}`,
                {
                  method: "PATCH",
                  headers: {
                    "Content-type": "application/json",
                    Authorization: `Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOjEsIm5hbWUiOiJBZG1pbiIsImVtYWlsIjoiYWRtaW5AbG9jYWxob3N0IiwiaWF0IjoxNjc3ODE0NTE1LCJleHAiOjE2Nzc4MTgxMTV9.vaLOM4D3eHZNC9y8BC5qkXtcYTt1DX7G0HMmk3M3Y7A`,
                  },
                  // wrap the user object in a data object
                  body: JSON.stringify(user),
                }
              );
            } catch (e) {
              console.log("Update User Failed");
              console.log(e);
            }
          };

          // expose to the html template
          return {
            users,
            showProfileMenu,
            showEditPanel,
            modifyRecord,
            updateUserRecord,
            selectedUser,
            userRecord,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
