<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [v-cloak] {
        display: none;
      }
    </style>

    <title>Profile</title>
  </head>
  <body id="app" class="d-flex flex-column">
    <!-- Alert -->
    <div v-cloak v-if="showError" role="alert">
      <div class="alert alert-danger" role="alert">
        <div class="d-flex">
          <div>
            <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon alert-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M12 8v4"></path>
              <path d="M12 16h.01"></path>
            </svg>
          </div>
          <div>
            <h4 class="alert-title">Something went wrong:</h4>
            <div class="text-secondary">{{ errorDetail }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Form -->
    <div class="page page-center">
      <div class="container py-2 container-tight">
        <!-- <div class="mb-4 text-center">
          <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image" />
          </a>
        </div> -->
        <div class="card card-md">
          <div class="card-body">
            <h2 class="mb-4 text-center h2">Update account</h2>
            <form @submit.prevent action="" autocomplete="off" novalidate="">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input v-model="name" type="name" class="form-control" placeholder="Enter name" autocomplete="off" />
              </div>
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input
                  v-model="email"
                  type="email"
                  class="form-control"
                  placeholder="your@email.com"
                  autocomplete="off"
                />
              </div>
              <div class="mb-2">
                <label class="form-label"> Password </label>
                <div class="input-group input-group-flat">
                  <input
                    v-model="password"
                    type="password"
                    class="form-control"
                    placeholder="Your password"
                    autocomplete="off"
                  />
                  <span class="input-group-text">
                    <a
                      href="#"
                      class="link-secondary"
                      data-bs-toggle="tooltip"
                      aria-label="Show password"
                      data-bs-original-title="Show password"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                        <path
                          d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                        ></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
              <div class="form-footer">
                <button
                  @click="submit"
                  @keyup.enter="submit"
                  type="submit"
                  class="btn btn-primary d-flex justify-content-center align-items-center w-100"
                >
                  <span class="text-center flex-grow-1">Update account</span>
                  <span class="ms-auto">
                    <svg
                      width="16"
                      height="16"
                      x-description="Heroicon name: mini/lock-closed"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div @click="createAccount" class="mt-3 text-center text-secondary">
          Already have account? <a href="#" tabindex="-1">Sign in</a>
        </div>
      </div>
    </div>
    <div class="fixed inset-x-0 bottom-0">
      <div class="m-4 text-xs text-gray-400">
        Powered by
        <span class="underline">
          <a href="https://github.com/authcompanion/authcompanion2">AuthCompanion</a>
        </span>
      </div>
    </div>
    <!-- Scripts -->
    <script type="module">
      import { createApp, ref, computed } from "https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.esm-browser.prod.js";
      import { jwtDecode } from "https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/+esm";

      createApp({
        setup() {
          const name = ref("");
          const email = ref("");
          const password = ref("");
          const showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const token = computed(() => {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.has("token") ? urlParams.get("token") : localStorage.getItem("ACCESS_TOKEN");
          });

          try {
            var decoded = jwtDecode(token.value);
            email.value = decoded.email;
            name.value = decoded.name;
          } catch (e) {
            console.log(e);
          }
          async function updateUser() {
            const response = await fetch("/v1/auth/users/me", {
              method: "POST",
              headers: {
                "Content-type": "application/json",
                Authorization: `Bearer ${token.value}`,
              },
              body: JSON.stringify({
                data: {
                  type: "users",
                  attributes: {
                    name: name.value,
                    email: email.value,
                    password: password.value,
                  },
                },
              }),
            });

            return response;
          }

          const submit = async () => {
            try {
              const response = await updateUser();
              const responseData = await response.json();

              if (response.ok || response.status === 401) {
                if (response.status === 401) {
                  const refreshResponse = await fetch("/v1/auth/refresh", {
                    method: "POST",
                    headers: { "Content-type": "application/json" },
                    body: JSON.stringify({}),
                  });

                  if (refreshResponse.ok) {
                    const refreshBody = await refreshResponse.json();
                    window.localStorage.setItem("ACCESS_TOKEN", refreshBody.data.attributes.access_token);
                    const updatedResponse = await updateUser();
                    if (updatedResponse.ok) {
                      showError.value = true;
                      errorTitle.value = "Success";
                      errorDetail.value = "Your account has been updated, thank you!";
                    }
                  }
                } else {
                  localStorage.setItem("ACCESS_TOKEN", responseData.data.attributes.access_token);
                  showError.value = true;
                  errorTitle.value = "Success";
                  errorDetail.value = "Your account has been updated, thank you!";
                }
              } else {
                throw new Error("Failed to update user.");
              }
            } catch (error) {
              console.error(error);
              showError.value = true;
              errorTitle.value = "Error";
              errorDetail.value = "An issue with your account has occurred, please try again";
            }
          };

          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            name,
            email,
            password,
            isSuccess: computed(() => errorTitle.value === "Success"),
            isError: computed(() => errorTitle.value === "Error"),
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
