<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@simplewebauthn/browser@9.0.1/dist/bundle/index.es5.umd.min.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [v-cloak] {
        display: none;
      }
    </style>

    <title>Register</title>
  </head>
  <body id="app" class="d-flex flex-column">
    <!-- Alert -->
    <div v-cloak v-if="showError" role="alert">
      <div class="alert alert-danger" role="alert">
        <div class="d-flex">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon alert-icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M12 8v4"></path>
              <path d="M12 16h.01"></path>
            </svg>
          </div>
          <div>
            <h4 class="alert-title">Something went wrong:</h4>
            <div class="text-secondary">{{ errorDetail }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Form -->
    <div class="page page-center">
      <div class="container py-2 container-tight">
        <!-- <div class="mb-4 text-center">
          <a href="." class="navbar-brand navbar-brand-autodark">
            <img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image" />
          </a>
        </div> -->
        <div class="card card-md">
          <div class="card-body">
            <h2 class="mb-4 text-center h2">Create new account</h2>
            <form @submit.prevent action="" autocomplete="off" novalidate="">
              <div class="mb-3">
                <label class="form-label">Name</label>
                <input v-model="name" type="name" class="form-control" placeholder="Enter name" autocomplete="off" />
              </div>
              <div class="mb-3">
                <label class="form-label">Email address</label>
                <input
                  v-model="email"
                  type="email"
                  class="form-control"
                  placeholder="your@email.com"
                  autocomplete="off"
                />
              </div>
              <div class="mb-2">
                <label class="form-label"> Password </label>
                <div class="input-group input-group-flat">
                  <input
                    v-model="password"
                    type="password"
                    class="form-control"
                    placeholder="Your password"
                    autocomplete="off"
                  />
                  <span class="input-group-text">
                    <a
                      href="#"
                      class="link-secondary"
                      data-bs-toggle="tooltip"
                      aria-label="Show password"
                      data-bs-original-title="Show password"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                        <path
                          d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                        ></path>
                      </svg>
                    </a>
                  </span>
                </div>
              </div>
              <div class="form-footer">
                <button
                  @click="submit"
                  @keyup.enter="submit"
                  type="submit"
                  class="btn btn-primary d-flex justify-content-center align-items-center w-100"
                >
                  <span class="text-center flex-grow-1">Create new account</span>
                  <span class="ms-auto">
                    <svg
                      width="16"
                      height="16"
                      x-description="Heroicon name: mini/lock-closed"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </span>
                </button>
              </div>
            </form>
          </div>
          <div class="hr-text">or</div>
          <div class="card-body">
            <button
              @click="passkeySubmit"
              type="submit"
              class="btn btn-primary d-flex justify-content-center align-items-center w-100"
            >
              <span class="text-center flex-grow-1">Passkey</span>
              <span class="ms-auto">
                <svg
                  width="16"
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                  ></path>
                </svg>
              </span>
            </button>
          </div>
        </div>
        <div @click="createAccount" class="mt-3 text-center text-secondary">
          Already have account? <a href="./login" tabindex="-1">Sign in</a>
        </div>
      </div>
    </div>
    <div class="fixed inset-x-0 bottom-0">
      <div class="m-4 text-xs text-gray-400">
        Powered by
        <span class="underline">
          <a href="https://github.com/authcompanion/authcompanion2">AuthCompanion</a>
        </span>
      </div>
    </div>
    <!-- Scripts -->
    <script type="module">
      import { createApp, ref, computed } from "https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.esm-browser.prod.js";

      const { startRegistration } = SimpleWebAuthnBrowser;

      createApp({
        setup() {
          const name = ref("");
          const email = ref("");
          const password = ref("");

          const showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const submit = async () => {
            try {
              let response = await fetch("/v1/auth/register", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({
                  data: {
                    type: "users",
                    attributes: {
                      name: name.value,
                      email: email.value,
                      password: password.value,
                    },
                  },
                }),
                headers: {
                  "content-type": "application/json",
                },
              });
              const appOrigin = await response.headers.get("x-authc-app-origin");
              const resbody = await response.json();

              if (response.ok) {
                window.localStorage.setItem("ACCESS_TOKEN", resbody.data.attributes.access_token);
                showError.value = false;

                window.location.href = appOrigin;
              } else {
                showError.value = true;

                errorTitle.value = "Error";
                errorDetail.value = "An issue occured, please try registering again.";
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value = "There was an issue connecting, please refresh your browser and try again.";
            }
          };

          const passkeySubmit = async () => {
            try {
              let optionsResponse = await fetch("/v1/auth/registration-options", {
                method: "GET",
                headers: {
                  "content-type": "application/json",
                },
              });

              if (optionsResponse.ok) {
                const opts = await optionsResponse.json();

                let attResp = await startRegistration(opts);

                let verificationResponse = await fetch("/v1/auth/registration-verification", {
                  method: "POST",
                  body: JSON.stringify(attResp),
                  headers: {
                    "content-type": "application/json",
                    "x-authc-app-userid": opts.user.id,
                  },
                });
                const reply = await verificationResponse.json();
                const appOrigin = await verificationResponse.headers.get("x-authc-app-origin");

                window.localStorage.setItem("ACCESS_TOKEN", reply.data.attributes.access_token);
                showError.value = false;
                showError.value = false;
                window.location.href = appOrigin;
              } else {
                showError.value = true;

                errorTitle.value = "Error";
                errorDetail.value = "Error occured, please try registering again";
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value = "There was an issue connecting, please refresh your browser and try again.";
            }
          };
          // expose to template
          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            passkeySubmit,
            name,
            email,
            password,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
