<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Dashboard</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/demo.min.css" />

    <style>
      @import url("https://rsms.me/inter/inter.css");
      :root {
        --tblr-font-sans-serif: "Inter Var", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto,
          Helvetica Neue, sans-serif;
      }
      body {
        font-feature-settings: "cv03", "cv04", "cv11";
      }
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body id="app">
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/demo-theme.js"></script>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand-md d-print-none">
        <div class="container-xl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
            aria-controls="navbar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="">
              AuthCompanion
              <!-- <img src="./static/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image"> -->
            </a>
          </h1>
          <div class="flex-row navbar-nav order-md-last">
            <div class="d-none d-md-flex">
              <a
                href="?theme=dark"
                class="px-0 nav-link hide-theme-dark"
                title="Enable dark mode"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
              >
                <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
                </svg>
              </a>
              <a
                href="?theme=light"
                class="px-0 nav-link hide-theme-light"
                title="Enable light mode"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
              >
                <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                  <path
                    d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                  />
                </svg>
              </a>
              <div class="nav-item dropdown d-none d-md-flex me-3">
                <a
                  href="#"
                  class="px-0 nav-link"
                  data-bs-toggle="dropdown"
                  tabindex="-1"
                  aria-label="Show notifications"
                >
                  <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                  </svg>
                  <!-- <span class="badge bg-red"></span> -->
                </a>
                <!-- <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Last updates</h3>
                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span class="status-dot d-block"></span>
                          </div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Welcome!</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              All set for now, if you need any help reach out!
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="list-group-item-actions">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon text-muted"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                                />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="p-0 nav-link d-flex lh-1 text-reset"
                data-bs-toggle="dropdown"
                aria-label="Open user menu"
              >
                <span class="text-white avatar avatar-sm bg-dark"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-3 h-3"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                    />
                  </svg>
                </span>
                <div class="d-none d-xl-block ps-2">
                  <div>Paul Fish</div>
                  <div class="mt-1 small text-muted">Admin</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="#" class="dropdown-item">Status</a>
                <a href="./profile.html" class="dropdown-item">Profile</a>
                <a href="#" class="dropdown-item">Feedback</a>
                <div class="dropdown-divider"></div>
                <a href="./settings.html" class="dropdown-item">Settings</a>
                <a href="./sign-in.html" class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/v1/admin/dashboard">
                    <span class="nav-link-icon d-md-none d-lg-inline-block"
                      ><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                      </svg>
                    </span>
                    <span class="nav-link-title"> Home </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">Admin Dashboard</div>
                <h2 class="page-title">User Management</h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a
                    href="#"
                    class="btn btn-primary d-none d-sm-inline-block"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-user"
                    @click="toggleCreatePanel()"
                  >
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 5l0 14" />
                      <path d="M5 12l14 0" />
                    </svg>
                    Create user
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Accounts</h3>
                  </div>
                  <div class="py-3 card-body border-bottom">
                    <div class="d-flex">
                      <div class="text-muted">
                        Show
                        <div class="mx-2 d-inline-block">
                          <select
                            v-model="pageSize"
                            @change="handlePageSizeInputChange()"
                            class="form-select form-select-sm"
                          >
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                          </select>
                        </div>
                        entries
                      </div>
                      <div class="ms-auto text-muted">
                        Search:
                        <div class="ms-2 d-inline-block">
                          <input
                            placeholder="User Email"
                            v-model="searchValue"
                            @keyup.enter="searchUser()"
                            @input="handleSearchInputChange()"
                            type="text"
                            class="form-control form-control-sm"
                            aria-label="Search users"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-cloak class="table-responsive">
                    <table class="table table-vcenter card-table table-striped">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th>Created At</th>
                          <th>Updated At</th>

                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(user, index) in users.data">
                          <td class="">{{ user.id }}</td>
                          <td class="text-muted">{{ user.attributes.name }}</td>
                          <td class="text-muted">{{ user.attributes.email }}</td>
                          <td class="text-muted">{{ user.attributes.active == 1 ? 'Activated' : 'Deactivated' }}</td>
                          <td class="text-muted">{{ user.attributes.created }}</td>
                          <td class="text-muted">{{ user.attributes.updated }}</td>
                          <td class="text-muted">
                            <a
                              data-bs-toggle="modal"
                              data-bs-target="#modal-user"
                              href="#"
                              class=""
                              @click="toggleEditPanel(user)"
                              >Edit</a
                            >
                            <a href="#" class="mx-2" @click.stop="deleteUserRecord(user.id)">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer d-flex align-items-center">
                    <p class="m-0 text-muted"></p>
                    <ul class="m-0 pagination ms-auto">
                      <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" @click="previousPage">
                          <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15 6l-6 6l6 6" />
                          </svg>
                          prev
                        </a>
                      </li>
                      <input class="w-4 mx-2 form-control form-control-sm" type="text" v-model="pageNumber" readonly />

                      <li class="page-item">
                        <a class="page-link" href="#" @click="nextPage">
                          next
                          <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M9 6l6 6l-6 6" />
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="flex-row-reverse text-center row align-items-center">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="mb-0 list-inline list-inline-dots">
                  <li class="list-inline-item">
                    <a href="https://docs.authcompanion.com/" target="_blank" class="link-secondary" rel="noopener"
                      >Documentation</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a href="https://docs.authcompanion.com/guide/licenseoverview.html" class="link-secondary"
                      >License</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://github.com/authcompanion/authcompanion2"
                      target="_blank"
                      class="link-secondary"
                      rel="noopener"
                      >Source code</a
                    >
                  </li>
                  <li class="list-inline-item">
                    <a href="https://hachyderm.io/@paulfish" target="_blank" class="link-secondary" rel="noopener">
                      <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon text-pink icon-filled icon-inline"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                      </svg>
                      Made by Paul Fish
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mt-3 col-12 col-lg-auto mt-lg-0">
                <ul class="mb-0 list-inline list-inline-dots">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="." class="link-secondary">AuthCompanion</a>. All rights reserved.
                  </li>
                  <li class="list-inline-item">
                    <a
                      href="https://github.com/authcompanion/authcompanion2/blob/main/CHANGELOG.md"
                      class="link-secondary"
                      rel="noopener"
                    >
                      Changelog
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal modal-blur fade" id="modal-user" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ showEditPanel ? 'Update User Account' : 'New User Account' }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div v-if="showEditPanel" class="mb-3">
              <label class="form-label">ID</label>
              <input
                type="text"
                class="form-control"
                placeholder=""
                :value="showEditPanel ? selectedUser.id : ''"
                disabled
                readonly
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                @input="event => userRecord.data.attributes.name = event.target.value"
                type="text"
                class="form-control"
                placeholder="Your User's Name"
                :value="showEditPanel ? selectedUser.attributes.name : ''"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                @input="event => userRecord.data.attributes.email = event.target.value"
                type="text"
                class="form-control"
                placeholder="Your User's Email"
                :value="showEditPanel ? selectedUser.attributes.email : ''"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                @input="event => userRecord.data.attributes.password = event.target.value"
                type="password"
                class="form-control"
                placeholder="Your User's Password"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input
                value=""
                @input="event => confirmPassword = event.target.value"
                type="password"
                class="form-control"
                placeholder="Confirm Password"
              />
            </div>
            <div class="mb-3">
              <div class="form-label">Status</div>
              <select
                class="form-select"
                @input="event => userRecord.data.attributes.active = event.target.value"
                :value="showEditPanel ? selectedUser.attributes.active : ''"
              >
                <option value="1">Activated</option>
                <option value="0">Deactivated</option>
              </select>
            </div>
            <div v-if="showEditPanel" class="mb-3">
              <label class="form-label">Created At</label>
              <input
                type="text"
                class="form-control"
                placeholder=""
                :value="selectedUser.attributes.created"
                disabled
                readonly
              />
            </div>
            <div v-if="showEditPanel" class="mb-3">
              <label class="form-label">Updated At</label>
              <input
                type="text"
                class="form-control"
                placeholder=""
                :value="selectedUser.attributes.updated"
                disabled
                readonly
              />
            </div>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal"> Cancel </a>
            <a
              @click="showEditPanel ? updateUserRecord(selectedUser.id, userRecord) : createUserRecord(userRecord)"
              class="btn btn-primary ms-auto"
              data-bs-dismiss="modal"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
              {{ showEditPanel ? 'Update User Account' : 'Create User Account' }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabler Core -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/demo.min.js"></script>
    <!-- Vue JS -->
    <script type="module">
      import { createApp, ref } from "https://cdn.jsdelivr.net/npm/vue@3.3.11/dist/vue.esm-browser.prod.js";

      createApp({
        setup() {
          // User record to be sent to the API and populated via the form (modal)
          const userRecord = ref({
            data: {
              type: "users",
              attributes: {},
            },
          });

          // Get the user's jwt token from the local storage and store it in a variable
          const token = localStorage.getItem("ACCESS_TOKEN");

          // Toggle the edit modal with specific fields to edit a user
          let showEditPanel = ref(false);

          // Toggle the notification
          let showNotification = ref(false);

          // Notification message
          const notificationMessage = ref("");

          // The search term
          const searchValue = ref([]);

          // Array of users to be displayed in the table
          const users = ref([]);

          // User record to be edited
          let selectedUser = ref({});

          // Variable to store the confrim password value
          const confirmPassword = ref("");

          // Variable to store the page size of the data table
          const pageSize = ref("10");

          // Variable to store the page number of the data table
          const pageNumber = ref("1");

          // Function to accept a message and show the notification, then call the dismissNotification function
          const showNotificationMessage = (message) => {
            // set the notification message to the message passed in the function
            notificationMessage.value = message;
            // set the showNotification to true
            showNotification.value = true;
            // set a timeout to dismiss the notification after 3 seconds
            setTimeout(() => {
              showNotification.value = false;
            }, 3200);
            // call the fetchUsers function to refresh the table
            //fetchUsers();
          };

          // Function to toggle the edit panel and populate the form with the user data
          const toggleEditPanel = (user) => {
            // set the selected user to the user passed in the function
            selectedUser.value = user;
            // toggle the edit panel
            showEditPanel.value = true;
          };

          // Function to toggle the create modal
          const toggleCreatePanel = () => {
            // toggle the edit panel
            showEditPanel.value = false;

            //reset the userRecord
            userRecord.value = {
              data: {
                type: "users",
                attributes: {},
              },
            };

            confirmPassword.value = "";
          };

          const redirect = () => {
            // Use Vue Router or window.location.href to navigate to the /test URL
            // Here, we're using window.location.href
            window.location.href = "/v1/web/login";
          };

          // Function to logout the user, remove the token from cookies and redirect to the login page
          const logout = async () => {
            try {
              // GET request to our logout endpoint /v1/admin/logout
              let response = await fetch(`/v1/admin/logout`, {
                method: "DELETE",
                headers: {
                  "Content-type": "application/json",
                },
              });
              // if the response is not ok, throw an error
              if (!response.ok) {
                showNotificationMessage("Error: " + response.message);
                return;
              }
              // remove the token from the local storage
              localStorage.removeItem("ACCESS_TOKEN");
              window.location.href = "/v1/admin/login";
            } catch (e) {
              console.log("Logout User Failed");
              console.log(e);
            }
          };

          // Fetch users from the API and store them in the users array
          const fetchUsers = async () => {
            try {
              // GET request to our users endpoint /v1/admin/users
              let url = `/v1/admin/users`;
              let queryParams = `?page[number]=${pageNumber.value}&page[size]=${pageSize.value}`;
              url += queryParams;

              let response = await fetch(url, {
                method: "GET",
                headers: {
                  "Content-type": "application/json",
                  Authorization: `Bearer ${token}`,
                },
              });

              // if the response is not ok, throw an error
              if (!response.ok) {
                showNotificationMessage("Error: " + response.message);
                return;
              }

              users.value = await response.json();
            } catch (e) {
              console.log("Failed to load data");
              console.log(e);
            }
          };

          //Update the user record from the form data in the edit panel
          const updateUserRecord = async (userID, user) => {
            try {
              let response = await fetch(`/v1/admin/users/${userID}`, {
                method: "PATCH",
                headers: {
                  "Content-type": "application/json",
                  Authorization: `Bearer ${token}`,
                },
                // wrap the user object in a data object
                body: JSON.stringify(user),
              });

              //if the response is not ok, throw an error
              if (!response.ok) {
                showNotificationMessage("Error: " + response.message);
                return;
              }
              // Call the showNotificationMessage function to show the notification
              showNotificationMessage("User updated successfully!");
              // toggle the edit panel
              showEditPanel.value = !showEditPanel.value;
              // refresh users
              fetchUsers();
            } catch (e) {
              console.log("Update User Failed");
              console.log(e);
            }
          };

          //Create the user records from the from data in the create panel
          const createUserRecord = async (user) => {
            try {
              //if the password and confirm password are not the same, return an error
              if (user.data.attributes.password !== confirmPassword.value) {
                showNotificationMessage("Passwords do not match, try again!");
                return;
              }
              // POST request to the /v1/admin/users endpoint
              let response = await fetch(`/v1/admin/users`, {
                method: "POST",
                headers: {
                  "Content-type": "application/json",
                  Authorization: `Bearer ${token}`,
                },
                // wrap the user object in a data object
                body: JSON.stringify(user),
              });
              const data = await response.json();
              //if the response is not ok, throw an error
              if (!response.ok) {
                showNotificationMessage("Error: " + data.message);
                return;
              }

              userRecord.value = {
                data: {
                  type: "users",
                  attributes: {},
                },
              };
              // Call the showNotificationMessage function to show the notification
              showNotificationMessage("User created successfully!");

              // featch users for the table
              fetchUsers();
            } catch (e) {
              console.log("Create User Failed");
              console.log(e);
            }
          };

          // Function to delete a user record when the delete button is clicked
          const deleteUserRecord = async (userID) => {
            // alert the user to confirm the deletion using window.confirm
            if (window.confirm("Are you sure you want to delete this user?")) {
              // Call the deleteUser function to delete the user
              try {
                let response = await fetch(`/v1/admin/users/${userID}`, {
                  method: "DELETE",
                  headers: {
                    "Content-type": "application/json",
                    Authorization: `Bearer ${token}`,
                  },
                });

                if (!response.ok) {
                  showNotificationMessage("Error occured when deleting user");
                  return;
                }

                // Call the showNotificationMessage function to show the notification
                showNotificationMessage("User deleted successfully!");
                // refresh users
                fetchUsers();
              } catch (e) {
                console.log("Failed to delete data");
                console.log(e);
              }
            }
          };

          // Function to search for a user
          const searchUser = async () => {
            try {
              // GET request to the /v1/admin/users endpoint with the search query
              let response = await fetch(
                `/v1/admin/users?search[email]=${searchValue.value}&page[size]=${pageSize.value}&page[number]=${pageNumber.value}`,
                {
                  method: "GET",
                  headers: {
                    "Content-type": "application/json",
                    Authorization: `Bearer ${token}`,
                  },
                }
              );
              const data = await response.json();
              // If the response is not ok, throw an error
              if (!response.ok) {
                showNotificationMessage("Error: " + data.message);
                return;
              }
              // Process the search results
              users.value = data;

              // Call the showNotificationMessage function to show a success message
              showNotificationMessage(`Found ${users.value.data.length} user(s) matching the search.`);
            } catch (e) {
              console.log("Search User Failed");
              console.log(e);
            }
          };

          const handleSearchInputChange = async () => {
            if (searchValue.value.trim() === "") {
              await fetchUsers();
            }
          };

          const handlePageSizeInputChange = async () => {
            if (searchValue.value !== null) {
              await fetchUsers();
            } else {
              await searchUser();
            }
          };

          const nextPage = async () => {
            const currentPage = parseInt(pageNumber.value);
            pageNumber.value = (currentPage + 1).toString();
            if (searchValue.value === null) {
              await fetchUsers();
            } else {
              await searchUser();
            }
          };

          const previousPage = async () => {
            const currentPage = parseInt(pageNumber.value);
            if (currentPage > 1) {
              pageNumber.value = (currentPage - 1).toString();
            }
            if (searchValue.value === null) {
              await fetchUsers();
            } else {
              await searchUser();
            }
          };

          // Call the fetchUsers function on page load
          fetchUsers();

          // expose to the html template
          return {
            users,
            showEditPanel,
            toggleEditPanel,
            toggleCreatePanel,
            updateUserRecord,
            selectedUser,
            userRecord,
            confirmPassword,
            createUserRecord,
            deleteUserRecord,
            showNotification,
            notificationMessage,
            logout,
            searchValue,
            searchUser,
            handleSearchInputChange,
            handlePageSizeInputChange,
            pageSize,
            pageNumber,
            previousPage,
            nextPage,
            redirect,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
