<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/v1/web/styles/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/@simplewebauthn/browser@8.0.2/dist/bundle/index.es5.umd.min.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [v-cloak] {
        display: none;
      }
    </style>

    <title>Login</title>
  </head>
  <body id="app">
    <!-- Alert -->
    <div
      v-cloak
      v-if="showError"
      role="alert"
      class="p-4 border-red-500 rounded border-s-4 bg-red-50"
    >
      <div class="flex items-center gap-2 text-red-800">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
            clip-rule="evenodd"
          />
        </svg>

        <strong class="block font-medium"> Something went wrong </strong>
      </div>

      <p class="mt-2 text-sm text-red-700">{{ errorDetail }}</p>
    </div>
    <!-- Form -->
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="max-w-lg mx-auto">
        <form
          @submit.prevent
          action=""
          class="p-4 mt-6 mb-0 rounded-lg shadow-lg sm:p-6 lg:p-8"
        >
          <div class="flex flex-row text-xl font-semibold">
            <span class="mr-1 -rotate-90">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                />
              </svg>
            </span>
            Admin Dashboard Login
          </div>

          <p class="my-4 text-lg mx-4text-left">
            Welcome, sign in with your admin credentials.
          </p>

          <div class="my-4">
            <label for="password" class="sr-only">Password</label>

            <div class="relative">
              <input
                type="password"
                class="w-full p-4 text-sm border-gray-200 rounded-lg shadow-sm pe-12"
                v-model="password"
                placeholder="Enter password"
              />

              <span
                class="absolute inset-y-0 grid px-4 end-0 place-content-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 text-gray-400"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </span>
            </div>
          </div>

          <button
            type=""
            class="block w-full px-5 py-3 mt-4 text-sm font-medium text-white bg-gray-800 rounded-lg"
            @click="submit"
            @keyup.enter="submit"
          >
            <span class="absolute flex items-center">
              <svg
                class="w-5 h-5 text-white group-hover:text-indigo-400"
                x-description="Heroicon name: mini/lock-closed"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </span>
            Sign in
          </button>

          <!-- <div class="relative flex items-center py-2 my-2">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-gray-700">Or</span>
            <div class="flex-grow border-t border-gray-400"></div>
          </div> -->
        </form>
      </div>
    </div>
    <div class="fixed inset-x-0 bottom-0">
      <div class="m-4 text-xs text-gray-400">
        Powered by
        <span class="underline">
          <a href="https://github.com/authcompanion/authcompanion2"
            >AuthCompanion</a
          >
        </span>
      </div>
    </div>
    <!-- scripts -->
    <script type="module">
      import {
        createApp,
        ref,
        computed,
      } from "https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.esm-browser.prod.js";

      createApp({
        setup() {
          const email = ref("");
          const password = ref("");

          const showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const submit = async () => {
            try {
              let response = await fetch("/v1/admin/login", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({
                  data: {
                    type: "users",
                    attributes: {
                      password: password.value,
                    },
                  },
                }),
                headers: {
                  "content-type": "application/json",
                },
              });
              const appOrigin =
                await response.headers.get("x-authc-app-origin");
              const resbody = await response.json();

              if (response.ok) {
                window.localStorage.setItem(
                  "ACCESS_TOKEN",
                  resbody.data.attributes.access_token
                );

                window.location.href = appOrigin;
              } else {
                errorTitle.value = resbody.errors[0].title;
                errorDetail.value = resbody.errors[0].detail;

                showError.value = true;
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue logging in, please try again";
            }
          };

          const forgotPassword = () => {
            window.location.href = "recovery";
          };

          // expose to the html template
          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            email,
            password,
            forgotPassword,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
