<!DOCTYPE html>
<html lang="en" hidden>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://unpkg.com/favicon.ico" />
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/forms@0.4.0/dist/forms.min.css"
    />
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    <script src="https://unpkg.com/@simplewebauthn/browser@6.0.0/dist/bundle/index.es5.umd.min.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
    </style>
    <title>Login</title>
  </head>

  <body class="flex flex-col h-full bg-gray-50">
    <div id="app" class="">
      <div class="w-full my-8 text-center">
        <p>COMPANY LOGO</p>
      </div>
      <div class="w-full my-8 text-center">
        <p class="py-3 text-2xl font-semibold text-gray-700">
          Please sign into your account
        </p>
        <p class="py-3 text-sm font-semibold text-gray-700">
          Or if you don't have one,
          <span class="text-blue-700 underline">
            <a href="register">Register</a>
          </span>
          instead
        </p>
      </div>
      <div
        class="w-full max-w-md px-8 py-6 mx-auto mt-8 bg-white rounded shadow-md"
      >
        <div class="px-4 sm:px-0">
          <div class="text-gray-400 rounded-lg">
            <!-- Toast Notification -->
            <div v-if="showError">
              <div class="pb-4">
                <div
                  class="inline-flex items-center p-2 text-sm leading-none text-red-600 bg-white rounded-full shadow"
                >
                  <span class="inline-flex px-2">{{ errorDetail }}</span>
                </div>
              </div>
            </div>
            <!-- Form -->
            <div class="grid max-w-md grid-cols-1 gap-6">
              <label class="block">
                <span class="text-gray-700">Email</span>
                <input
                  type="email"
                  v-model="email"
                  class="block w-full mt-1 text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:border-gray-500 focus:bg-white focus:ring-0"
                  placeholder="hello@example.com"
                />
              </label>
              <label class="block">
                <span class="text-gray-700"> Password</span>
                <input
                  type="password"
                  v-model="password"
                  class="block w-full mt-1 text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:border-gray-500 focus:bg-white focus:ring-0"
                  placeholder=""
                />
              </label>
              <button
                type="submit"
                class="block w-full px-6 py-3 text-lg font-semibold text-white bg-gray-800 rounded-lg shadow-xl hover:text-white hover:bg-gray-900"
                @click="submit"
                @keyup.enter="submit"
              >
                > Login
              </button>

              <div class="relative flex py-5 items-center">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-700">Or</span>
                <div class="flex-grow border-t border-gray-400"></div>
              </div>

              <button
                type="button"
                class="block w-full px-6 py-3 text-lg font-semibold text-white bg-gray-800 rounded-lg shadow-xl hover:text-white hover:bg-gray-900"
                @click="passkeySubmit"
              >
                > Passkey
              </button>
              <a
                href="#"
                class="tracking-tighter text-blue-700 border-gray-200 cursor-pointer hover:border-gray-400"
                @click="forgotPassword"
              >
                <span>Forgot Password?</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <div class="m-4 text-xs text-gray-400">
          Powered by
          <span class="underline">
            <a href="https://github.com/authcompanion/authcompanion2"
              >AuthCompanion</a
            >
          </span>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script>
      const { ref, computed } = Vue;
      const { startAuthentication } = SimpleWebAuthnBrowser;
      const app = Vue.createApp({
        setup() {
          const email = ref("");
          const password = ref("");

          const showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const submit = async () => {
            try {
              let response = await fetch("/v1/auth/login", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({
                  email: email.value,
                  password: password.value,
                }),
                headers: {
                  "content-type": "application/json",
                },
              });
              const appOrigin = await response.headers.get(
                "x-authc-app-origin"
              );
              const resbody = await response.json();

              if (response.ok) {
                window.localStorage.setItem(
                  "ACCESS_TOKEN",
                  resbody.data.attributes.access_token
                );

                window.location.href = appOrigin;
              } else {
                errorTitle.value = resbody.errors[0].title;
                errorDetail.value = resbody.errors[0].detail;

                showError.value = true;
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue logging in, please try again";
            }
          };

          const forgotPassword = () => {
            window.location.href = "recovery";
          };

          const passkeySubmit = async () => {
            try {
              let response = await fetch("/v1/auth/login-options", {
                method: "GET",
                headers: {
                  "content-type": "application/json",
                },
              });

              if (response.ok) {
                const resbody = await response.json();
                console.log(resbody);

                const asseResp = await startAuthentication(resbody);
                console.log(asseResp);

                // const appOrigin = await response.headers.get(
                //   "x-authc-app-origin"
                // );

                // window.localStorage.setItem(
                //   "ACCESS_TOKEN",
                //   resbody.data.attributes.access_token
                // );

                // window.location.href = appOrigin;
              } else {
                errorTitle.value = resbody.errors[0].title;
                errorDetail.value = resbody.errors[0].detail;

                showError.value = true;
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue connecting, refresh and try again";
            }
          };

          // expose to the html template
          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            passkeySubmit,
            email,
            password,
            forgotPassword,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
