<!DOCTYPE html>
<html lang="en" un-cloak>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [un-cloak] {
        display: none;
      }
    </style>
    <title>Recovery</title>
  </head>

  <body class="flex flex-col h-full bg-gray-50">
    <div id="app" class="">
      <div
        class="w-full max-w-md px-8 py-6 mx-auto mt-5 bg-white rounded shadow-md md:mt-20"
      >
        <div class="px-0 md:px-4">
          <div class="text-gray-400 rounded-lg">
            <!-- Toast Notification -->
            <div v-if="showError">
              <div class="pb-4">
                <div
                  class="inline-flex items-center p-2 text-sm leading-none text-green-600 bg-white rounded-full shadow"
                >
                  <span class="inline-flex px-2">{{ errorDetail }}</span>
                </div>
              </div>
            </div>
            <!-- Navigation -->
            <div class="flex flex-row justify-between mb-6">
              <div class="flex flex-row text-xl font-semibold text-gray-700">
                <span class="mr-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z"
                    />
                  </svg>
                </span>
                Account Recovery
              </div>
            </div>
            <div class="my-4 text-black">
              An email will be sent to your address containing a link to login.
            </div>

            <!-- Form -->
            <div class="grid max-w-md grid-cols-1 gap-4 md:gap-6">
              <label class="block">
                <span class="font-bold text-gray-700">Email</span>
                <input
                  type="email"
                  v-model="email"
                  class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                  placeholder="hello@example.com"
                />
              </label>
              <button
                type=""
                class="block w-full px-6 py-3 text-base font-semibold text-white bg-gray-800 border rounded-lg shadow-xl hover:text-white hover:bg-gray-900"
                @click="submit"
                @keyup.enter="submit"
              >
                <span class="absolute flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 3.75H6.912a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859M12 3v8.25m0 0l-3-3m3 3l3-3"
                    />
                  </svg>
                </span>
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed inset-x-0 bottom-0">
        <div class="m-4 text-xs text-gray-400">
          Powered by
          <span class="underline">
            <a href="https://github.com/authcompanion/authcompanion2"
              >AuthCompanion</a
            >
          </span>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script type="module">
      import {
        createApp,
        ref,
        computed,
      } from "https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.esm-browser.prod.js";

      createApp({
        setup() {
          const email = ref("");

          let showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const submit = async () => {
            try {

              //check if input field is empty
              if (email.value == "") {
                showError.value = true;
                errorTitle.value = "Error";
                errorDetail.value = "Please enter an email address";
                return;
              }

              let response = await fetch("/v1/auth/recovery", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({
                  email: email.value,
                }),
                headers: {
                  "content-type": "application/json",
                },
              });

              const resbody = await response.json();
              console.log(resbody);

              if (response.ok) {
                errorTitle.value = "Success";
                errorDetail.value =
                  "A recovery email has been sent to the address provided";
                showError.value = true;
              }
            } catch (e) {
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue with the request. Please try again later.";
            }
          };
          // expose to template
          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            email,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
