<!DOCTYPE html>
<html lang="en" un-cloak>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simplewebauthn/browser@7.0.0/dist/bundle/index.es5.umd.min.js"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <style>
      html {
        font-family: "Inter var", sans-serif;
      }
      [un-cloak] {
        display: none;
      }
    </style>
    <title>Registration</title>
  </head>

  <body class="flex flex-col h-full bg-gray-50">
    <div id="app" class="">
      <div
        class="w-full max-w-md px-8 py-6 mx-auto mt-5 bg-white rounded shadow-md md:mt-20"
      >
        <div class="px-0 md:px-4">
          <div class="text-gray-400 rounded-lg">
            <!-- Toast Notification -->
            <div v-if="showError">
              <div class="pb-4">
                <div
                  class="inline-flex items-center p-2 text-sm leading-none text-red-600 bg-white rounded-full shadow"
                >
                  <span class="inline-flex px-2">{{ errorDetail }}</span>
                </div>
              </div>
            </div>
            <!-- Navigation -->
            <div class="flex flex-row justify-between mb-6">
              <div class="flex flex-row text-xl font-semibold text-gray-700">
                <span class="mr-1">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zM4 19.235v-.11a6.375 6.375 0 0112.75 0v.109A12.318 12.318 0 0110.374 21c-2.331 0-4.512-.645-6.374-1.766z"
                    />
                  </svg>
                </span>
                Register
              </div>
              <div
                class="flex justify-end text-base font-semibold text-blue-700 underline"
              >
                <a href="login">Login</a>
              </div>
            </div>
            <!-- Form -->
            <div class="grid max-w-md grid-cols-1 gap-4 md:gap-6">
              <label class="block">
                <span class="font-bold text-gray-700">Name</span>
                <input
                  type="text"
                  v-model="name"
                  class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                  placeholder="Authy Person"
                />
              </label>
              <label class="block">
                <span class="font-bold text-gray-700">Email</span>
                <input
                  type="email"
                  v-model="email"
                  class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                  placeholder="hello@example.com"
                />
              </label>
              <label class="block">
                <span class="font-bold text-gray-700"> Password</span>
                <input
                  type="password"
                  v-model="password"
                  class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                  placeholder="********"
                />
              </label>
              <label class="block">
                <span class="font-bold text-gray-700"> Confirm Password</span>
                <input
                  v-model="confirmPassword"
                  type="password"
                  class="block w-full px-3 py-2 mt-1 text-base text-black placeholder-gray-500 bg-gray-100 border-transparent rounded-md focus:bg-white"
                  placeholder="********"
                />
              </label>
              <button
                @click="submit"
                class="block w-full px-6 py-3 mt-3 font-semibold text-white bg-gray-800 rounded-lg shadow-xl hover:text-white hover:bg-black"
              >
                <span class="absolute flex items-center">
                  <svg
                    class="w-5 h-5 text-white group-hover:text-indigo-400"
                    x-description="Heroicon name: mini/lock-closed"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </span>
                Register
              </button>

              <div class="relative flex items-center py-2">
                <div class="flex-grow border-t border-gray-400"></div>
                <span class="flex-shrink mx-4 text-gray-700">Or</span>
                <div class="flex-grow border-t border-gray-400"></div>
              </div>

              <button
                type=""
                class="block w-full px-6 py-3 mb-8 font-semibold text-white bg-gray-800 rounded-lg shadow-xl hover:text-white hover:bg-gray-900"
                @click="passkeySubmit"
              >
                <span class="absolute flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
                    />
                  </svg>
                </span>
                Passkey
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed inset-x-0 bottom-0">
        <div class="m-4 text-xs text-gray-400">
          Powered by
          <span class="underline">
            <a href="https://github.com/authcompanion/authcompanion2"
              >AuthCompanion</a
            >
          </span>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script type="module">
      import {
        createApp,
        ref,
        computed,
      } from "https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.esm-browser.prod.js";

      const { startRegistration } = SimpleWebAuthnBrowser;
      createApp({
        setup() {
          const name = ref("");
          const email = ref("");
          const password = ref("");
          const confirmPassword = ref("");

          const showError = ref(false);
          let errorTitle = ref(null);
          let errorDetail = ref(null);

          const submit = async () => {
            try {
              if (password.value !== confirmPassword.value) {
                showError.value = true;
                errorTitle.value = "Validation Error";
                errorDetail.value = "Passwords do not match, please try again";

                return;
              }

              let response = await fetch("/v1/auth/register", {
                method: "POST",
                credentials: "include",
                body: JSON.stringify({
                  name: name.value,
                  email: email.value,
                  password: password.value,
                }),
                headers: {
                  "content-type": "application/json",
                },
              });
              const appOrigin = await response.headers.get(
                "x-authc-app-origin"
              );
              const resbody = await response.json();

              if (response.ok) {
                window.localStorage.setItem(
                  "ACCESS_TOKEN",
                  resbody.data.attributes.access_token
                );
                showError.value = false;

                showError.value = false;

                window.location.href = appOrigin;
              } else {
                showError.value = true;

                errorTitle.value = "Error";
                errorDetail.value =
                  "Error occured, please try registering again";
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue connecting, please try again";
            }
          };

          const passkeySubmit = async () => {
            try {
              let optionsResponse = await fetch(
                "/v1/auth/registration-options",
                {
                  method: "GET",
                  headers: {
                    "content-type": "application/json",
                  },
                }
              );

              if (optionsResponse.ok) {
                const opts = await optionsResponse.json();

                let attResp = await startRegistration(opts);

                let verificationResponse = await fetch(
                  "/v1/auth/registration-verification",
                  {
                    method: "POST",
                    body: JSON.stringify(attResp),
                    headers: {
                      "content-type": "application/json",
                      "x-authc-app-userid": opts.user.id,
                    },
                  }
                );
                const reply = await verificationResponse.json();
                const appOrigin = await verificationResponse.headers.get(
                  "x-authc-app-origin"
                );

                window.localStorage.setItem(
                  "ACCESS_TOKEN",
                  reply.data.attributes.access_token
                );
                showError.value = false;
                showError.value = false;
                window.location.href = appOrigin;
              } else {
                showError.value = true;

                errorTitle.value = "Error";
                errorDetail.value =
                  "Error occured, please try registering again";
              }
            } catch (e) {
              console.log(e);
              showError.value = true;

              errorTitle.value = "Error";
              errorDetail.value =
                "There was an issue connecting to authcompanion";
            }
          };
          // expose to template
          return {
            showError,
            errorTitle,
            errorDetail,
            submit,
            passkeySubmit,
            name,
            email,
            password,
            confirmPassword,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
